<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979970794708-ecbcn8pr9gmpc0cjm8mbal08vk04b99u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979970794708-ecbcn8pr9gmpc0cjm8mbal08vk04b99u</string>
	<key>API_KEY</key>
	<string>AIzaSyDYRIE304ggOXuKMmUyFt5rSZWuuo9vx08</string>
	<key>GCM_SENDER_ID</key>
	<string>979970794708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoTest</string>
	<key>PROJECT_ID</key>
	<string>todotest-f3f34</string>
	<key>STORAGE_BUCKET</key>
	<string>todotest-f3f34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979970794708:ios:3d6d46cf3341d64ec00741</string>
</dict>
</plist>